/node_modules
/vendor
.env
.env.*
!.env.example
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
Thumbs.db
/storage/*.key
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/public/storage
/public/hot
/storage/logs/laravel.log
/.phpunit.cache
/.rift
